<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title> </title>
 <!-- esto es un comentario -->
</head>
<body>
<div class="container">
<div class="well well-lg">
	<center><h3><strong>PRACTICA DE GENERAR  MATERIAS Y ALUMNOS</strong></h3>
</div>
</div>


{%if messages%}
{%for msg in messages%}
<div class="alert alert-warning" role="alert"><center>
<h4>{{msg.message}}</h4></center></div>
{%endfor%}
{%endif%}

<center><H3 class="alert alert-success">INGRESE SUS DATOS</H3></center>
<form method="post" action="" > {% csrf_token %}
	{{f.as_p}}
	<input type="submit" value="Aceptar"></input>
</form>

<div class="container">
	<div class="well well-lg">
		<p class="text-center"> 

			<strong>Francisco Salinas</strong>
			</br>	
			Quinto Ciclo "A" 
			</br>
			2016
		</p>
	</div>
</div> 
</body>
</html>